.title-row
 margin: 0
 height: 120px

.contacts
 width: 100%
 height: 814px
 position: relative
 background: #515f67 url("../img/contact/contact-bg.jpg") center no-repeat
 z-index: 0
 &::before
  content: ''
  display: block
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.4)
  z-index: -2
 &-title
  position: relative
 h2
	 font-size: 30px
	 font-weight: 300
	 text-transform: uppercase
	 margin-top: 75px
	 padding-left: 15px
	 &::after
	  content: ""
	  position: absolute
	  height: 2px
	  width: 45px
	  top: 116px
	  left: 30px
	  background-color: #fff 
	&-form
	 & textarea
	  width: 100%
	  min-height: 220px
	  color: #fff
    font-size: 24px
	  border: 1px solid #ffffff
	  background-color: transparent
	 & label
	  display: block
	  margin-top: 35px
	  margin-bottom: 6px
	  font-size: 14px
	  font-weight: 600
	  line-height: 24px
	  text-transform: uppercase  
	  &:first-of-type
	   margin-top: 0

 &-input
  width: 470px
  height: 60px
  border: 1px solid #ffffff
  background-color: transparent
  color: #fff
  font-size: 24px
 &-text
  margin-top: 15px
  margin-bottom: 15px
  padding-top: 20px
  & p
   font-size: 14px
			font-weight: 400
			line-height: 24px
   margin-top: 35px
 &-button
  padding: 20px 150px
  margin-top: 40px
  margin-bottom: 80px
  background-color: #4bcaff
  color: rgba(255, 255, 255, 0.8)
  font-size: 14px
		font-weight: 600
		line-height: 24px
		text-transform: uppercase		
		border: 1px solid #4bcaff
		border-radius: 1px
		&:hover
		 color: #fff